
.Rproj.user/0C2B1294/pcs/windowlayoutstate.pper
.Rproj.user/0C2B1294/pcs/workbench-pane.pper
.Rproj.user/0C2B1294/rmd-outputs
.Rproj.user/0C2B1294/saved_source_markers
.Rproj.user/0C2B1294/viewer-cache/D12C6715.Rdata
.Rproj.user
.Rhistory
